section p{
      color:red;
  }
section>p{
      color:orange;
  }
h1+p{
      background-color: blue;
      color:yellow;
  }
h1-p{
      background-color: rgb(red, green, blue);
  }
h1>p
{
      background-color: antiquewhite;
  }