html {
      box-sizing: border-box;
  }
body {
      align-items: center;
      background-color: hsl(0, 0%, 98%);
      display: flex;
      flex-direction: column;
      font-family: 'Poppins', sans-serif;
      justify-content: center;
      line-height: 1.5;
      width: 100%;
  }
header {
      padding: 2.5rem 0 2rem;
      text-align: center;
  }
h1 {
      color: hsl(234, 12%, 34%);
      font-size: 2.4rem;
      font-weight: 600;
  }
h1 span {
      display: block;
      font-weight: 200;
  }
header p {
      color: hsl(229, 6%, 66%);
      font-weight: 400;
      margin-top: 1.5rem;
  }
h2 {
      color: hsl(234, 12%, 34%);
      font-size: 1.8rem;
      font-weight: 600;
  }
main p {
      color: hsl(229, 6%, 66%);
      font-size: 1rem;
      font-weight: 400;
  }
.group div:nth-of-type(2) {
      display: flex;
      justify-content: flex-end;
      padding: 2rem;
  }
.group {
      background-color: #FFFFFF;
      border-radius: 5px;
      border: 1px solid white;
      box-shadow: 0 10px 10px 0 hsl(208deg 16% 85%);
  }
#supervisor .group {
      border-top: 4px solid hsl(180, 62%, 55%);
  }
#karma-team .group:first-child {
      border-top: 4px solid hsl(0, 78%, 62%);
  }
#karma-team .group:last-child {
      border-top: 4px solid hsl(34, 97%, 64%);
  }
#calculator .group:last-child {
      border-top: 4px solid hsl(212, 86%, 64%);
  }
@media (max-width: 768px) {
    header {
          width: 100%;
      }
    header p {
          padding: 0 3rem 1rem;
      }
    main {
          margin: 1rem auto;
          width: 100%;
      }
    #supervisor {
          margin: 3rem 1rem 2rem;
      }
    #karma-team .group {
          margin: 2rem 1rem;
      }
    #calculator {
          margin: 2rem 1rem;
      }
    .group {
          padding: 2rem;
      }
  }
@media (min-width: 468px) and (max-width: 568px) {
    header {
          width: 90%;
      }
    main {
          width: 90%;
      }
  }
@media (min-width: 568px) and (max-width: 668px) {
    header {
          width: 80%;
      }
    main {
          width: 80%;
      }
  }
@media (min-width: 668px) and (max-width: 768px) {
    header {
          width: 70%;
      }
    main {
          width: 70%;
      }
  }
@media (min-width: 769px) {
    header {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 60%;
      }
    header p {
          margin: 1rem auto;
          vertical-align: center;
          width: 60%;
      }
    main {
          align-items: center;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          padding: 1rem;
          width: 90%;
      }
    main section {
          display: flex;
          flex: 1 1 60%;
      }
    .group {
          width: auto;
      }
     #supervisor .group{
          flex: 1 1 60%;
          margin: 2rem;
          padding: 3.5rem 2rem;
      }
    #karma-team {
          flex-direction: column;
          justify-content: space-between;
      }
    #karma-team .group {
          flex: 1 3 50%;
          margin: 1rem 0;
          padding: 3.5rem 2rem;
      }
    #calculator .group {
          flex: 1 1 60%;
          margin: 2rem;
          padding: 3.5rem 2rem;
      }
  }