   
* {
    margin: 0;
    padding: 0;
 }
:root {
    --borange: hsl(31, 77%, 52%);
    --bradius: 6px;
    --dcyan: hsl(184, 100%, 22%);
    --twhite: hsla(0, 0%, 100%, 0.75);
    --vdcyan: hsl(179, 100%, 13%);
    --vlgray: hsl(0, 0%, 95%);
 }
.attribution {
    font-size: 11px;
    margin-bottom: 1rem;
    text-align: center;
 }
.attribution a {
    color: hsl(228, 45%, 44%);
    font-weight: 700;
    text-decoration: none;
    transition: opacity 200ms ease-in-out;
 }
.attribution a:hover {
    opacity: .8;
 }
body {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Lexend Deca';
    font-size: 15px;
    justify-content: center;
    min-height: 100vh;
 }
.cards {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
 }
.card {
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 33rem;
    line-height: 1.8rem;
    padding: 2.5rem;
    width: 18rem;
 }
.card--primary {
    --text-color: var(--borange);
    background-color: var(--borange);
 }
.card--secondary {
    --text-color: var(--dcyan);
    background-color: var(--dcyan);
 }
.card--tertiary {
    --text-color: var(--vdcyan);
    background-color: var(--vdcyan);
 }
.card:first-of-type {
    border-bottom-left-radius: var(--bradius);
    border-top-left-radius: var(--bradius);
 }
.card:last-of-type {
    border-bottom-right-radius: var(--bradius);
    border-top-right-radius: var(--bradius);
 }
.card__icon {
    width: 4rem;
 }
.card__title {
    color: var(--vlgray);
    font-family: 'Big Shoulders Display';
    font-size: 2.5rem;
    margin: 2rem 0 3rem;
    text-transform: uppercase;
 }
.card__subtitle {
    color: var(--twhite);
    margin-bottom: 5rem;
 }
.card__link {
    align-items: flex-start;
    background-color: var(--vlgray);
    border-radius: 24px;
    border: 2px solid var(--vlgray);
    box-shadow: 4px 12px 24px rgba(0, 0, 0, .2);
    color: var(--text-color);
    padding: .5rem 3rem;
    text-decoration: none;
    transition: background-color 200ms ease-in-out;
 }
.card__link:hover {
    background-color: transparent;
    color: var(--vlgray);
 }
@media screen and (max-width: 900px) {
    card:first-of-type {
      border-bottom-left-radius: 0;
      border-top-right-radius: var(--bradius);
   }
    card:last-of-type {
      border-bottom-left-radius: var(--bradius);
      border-top-right-radius: 0;
   }

  .cards {
      flex-direction: column;
      margin: 5rem 0rem 1rem;
   }
  .card {
      width: 300px;
   }
  
  
 }